hr {
     margin-top: 1rem;
     margin-bottom: 1rem;
     border: 0;
     border-top: 1px solid rgba(0, 0, 0, 0.1);
 }

.request-side-bar {

    background-color: #f7f7f7;
    border: 1px solid rgba(0,0,0,0.03);

}

.request-side-bar .nc-icon {

    padding-right: 5px;
}
.main-buttons button:first-child {
    margin-right: 15px;
}

.main-buttons {
    text-align: right;
}

.PrivateMessage {

    background-color: rgb(255, 250, 226);
}

.timeline_container .card hr{
    margin-bottom: 0;
}

.timeline_container .card .card-body{
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #464646;
    white-space: pre-wrap;
}

.data{
    font-weight: 500;
    font-size: 13px;
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
}

.sender_name{
    color: #464646;
}

.pulsanti-tag .btn-primary {
    display: inline-block;
    padding: 9px 15px;
    margin: 5px 0px;
}

.tags .user_tags{
    display: block;
    padding: 9px 15px;
    margin: 15px 0px;
    background-color: #2980b9;
    color: #FFFFFF;
    border-width: 2px;
    font-weight: 600;
    font-size: 0.8571em;
    line-height: 1.35em;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: auto;
    transition: all 150ms linear;
}

.tags > div:first-child .user_tags, .tags > div:first-child .generic_tags{
    margin-top: 0px;
}

.tags > div:last-child .user_tags, .tags > div:last-child .generic_tags{
    margin-bottom: 10px;
}

.tags .generic_tags{
    background-color: #66615B;
    display: block;
    padding: 9px 15px;
    margin: 15px 0px;
    color: #FFFFFF;
    border-width: 2px;
    font-weight: 600;
    font-size: 0.8571em;
    line-height: 1.35em;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: auto;
    transition: all 150ms linear;
}

.request_title.container-fluid{
    margin: 0;
    padding: 0;
}

.request_title.container-fluid .title{
    padding: 0 15px;
    font-size: 20px;
}

.request_title.container-fluid .title span{
    color: #51cbce;
}

.alert.alert-danger {
    background-color: #ff9f90;
    margin-top: -13px;
    padding: 5px 10px;
    border-radius: 0 0 3px 3px;
    font-size: 13px;
    color: #fff;
}

.alert.alert-success {
    background-color: #96d29b;
    margin-top: -13px;
    padding: 5px 10px;
    border-radius: 0 0 3px 3px;
    font-size: 13px;
    color: #fff;
}

.button_allegato{
    text-overflow: ellipsis;
    white-space: normal;
}

textarea.form-control{
    max-height: initial !important;
    resize: vertical !important;
}

.risposte_preimpostate_container{

    margin-top: 5px;
}

.risposte_preimpostate_container label{
    display: block;
}

.risposte_preimpostate_container button{
    margin-right: 15px;
    color: #000;
    background-color: #fff;
    border: 1px solid #eee;
    text-transform: lowercase;
    font-weight: 500;
}

.risposte_preimpostate_container button:hover, .risposte_preimpostate_container button:focus, .risposte_preimpostate_container button:active{
    background-color: #eee !important;
    border: 1px solid #eee !important;
    color: #000 !important;
}