<div>
    <app-external-nav-bar [title]="sector"></app-external-nav-bar>

    <div class="request_title container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ng-container *ngIf="Request && Request.DataForm">
                    <div class="title">
                        <strong><span>{{Request.DataForm.Id}}</span> - {{Request.DataForm.Title}}</strong>
                    </div>
                    <hr>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="main-content container-fluid">
        <ng-container *ngIf="Request && Request.DataForm">

            <div class="row">


                <div class="col-md-5 col-lg-4 col-xl-3">

                    <div class="card request-side-bar">
                        <div class="card-body">

                            <ng-container *ngFor="let field of Request.DataForm.Fields">
                                <div class="row" *ngIf="field.Type == 'Text' && field.Group =='Main'">
                                    <div class="col-md-12">
                                        <label>{{field.Title}}</label>
                                        <div class="form-group"><input class="form-control"
                                                                       [disabled]="field.IsReadOnly" type="text"
                                                                       value="{{field.Value}}"></div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="field.Type == 'RelationList'">
                                    <div class="col-md-12 tags">
                                        <div *ngFor="let relation of field.Relations; let i = index">
                                            <label *ngIf="i == 0">{{field.Title}}</label>
<!--
                                            <button  class="btn  btn-secondary btn-block " [ngClass]="{'btn-primary text-left': field.Title == 'Utenti assegnati', 'btn-secondary': field.Title != 'Utenti assegnati'}">
                                                <i class="nc-icon nc-single-02" *ngIf="field.Title == 'Utenti assegnati'"></i>{{relation.Titolo}}
                                            </button>
                                            -->
                                            <div  class="" [ngClass]="{'user_tags text-left': field.Title == 'Utenti assegnati', 'generic_tags': field.Title != 'Utenti assegnati'}">
                                                <i class="nc-icon nc-single-02" *ngIf="field.Title == 'Utenti assegnati'"></i>{{relation.Titolo}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="field.Type == 'RelationLinkList'">
                                    <div class="col-md-12 tags">
                                        <div *ngFor="let relation of field.Relations; let i = index">
                                            <label *ngIf="i == 0">{{field.Title}}</label>
                                            <button (click)="downloadAllegato(relation)" type="button" class="btn  btn-primary btn-block text-left button_allegato"><i
                                                    class="nc-icon nc-cloud-download-93"></i>{{relation.Titolo}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="field.Type == 'Link'">

                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <label >Allegati</label>
                                        <button (click)="downloadAllegato(field)" type="button" class="btn  btn-primary btn-block text-left button_allegato"><i
                                                class="nc-icon nc-cloud-download-93"></i>{{field.Value}}
                                        </button>
                                    </div>
                                </div>
                            </ng-container>




                        </div>

                    </div>

                </div>
                <div class="col-md-7 col-lg-8 col-xl-9">
                    <div class="row">

                        <ng-container *ngFor="let field of Request.DataForm.Fields">
                            <ng-container *ngIf="field.Group == 'TimeLine' && field.Type =='TextArea'">
                                <div class="col-md-12">

                                    <div class="form-group">
                                             <textarea class="form-control" rows="5" id="comment"
                                                       placeholder="Messaggio..."
                                                       [(ngModel)]="field.Value"></textarea>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>

                        <ng-container *ngIf="Request.LastMessage">
                            <div  *ngIf="Request.LastMessage.Message" class="col-lg-12 col-md-12 col-sm-12">
                                <div class="alert alert-dismissible fade show"
                                     [ngClass]="{'alert-success' : Request.LastMessage.Status == 'Success','alert-danger' : Request.LastMessage.Status == 'Error'}">
                                    <span><b> {{Request.LastMessage.Status}}: </b> {{Request.LastMessage.Message.toLowerCase()}}</span>
                                </div>
                            </div>
                        </ng-container>
                        <div class="col-md-12 main-buttons form-group risposte_preimpostate_container text-left">

                            <ng-container *ngFor="let field of Request.DataForm.Actions; let i = index">
                                <ng-container *ngIf="field.Title.indexOf('Risposta:') != -1">
                                    <label *ngIf="i == 0">Risposte rapide</label>

                                        <button type="button" class="btn  btn-secondary"
                                                (click)="inserisciRispostaPreimpostataInMessaggio(field.Value)">
                                            {{field.Value}}
                                        </button>

                                </ng-container>
                            </ng-container>
                        </div>

                        <div class="col-md-12 main-buttons form-group  text-left">
                            <ng-container *ngFor="let field of Request.DataForm.Actions">
                                <ng-container *ngIf="field.Title =='Conferma'">
                                    <button type="button" (click)="Submit(field)"
                                            class="btn  btn-success">{{field.Title}}
                                    </button>
                                </ng-container>

                                <ng-container *ngIf="field.Title =='Annulla'">
                                    <button type="button" (click)="Submit(field)"
                                            class="btn  btn-{{field.Style}}">{{field.Title}}
                                    </button>
                                </ng-container>
                            </ng-container>
                        </div>

                        <div class="col-md-12 timeline_container">
                            <ng-container *ngFor="let field of Request.DataForm.Fields">
                                <ng-container *ngIf="field.Group == 'TimeLine'">
                                    <ng-container *ngFor="let item of field.Items">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <!--    [ngClass]="{'card-yellow': row,'card-white':}" -->
                                                <div class="card {{item.Style}}">
                                                    <div class="card-header">
                                                        <div>

                                                            <div class="title pull-left sender_name">

                                                                {{item.Items[0].Value}}
                                                            </div>

                                                            <div class="title pull-right data">

                                                                {{item.Items[1].Value}} - {{item.Items[2].Value}}

                                                            </div>

                                                        </div>


                                                    </div>
                                                    <hr/>

                                                    <div [innerHTML]="item.Items[4].Value" class="card-body">
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </div>

                    </div>


                </div>

            </div>

        </ng-container>


    </div>


</div>
<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-clip-rotate">
</ngx-spinner>