
.main-content {
    padding: 0 30px;
}
.card {
    border-radius: 20px;
}

.card .card-header {
    border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;
    background-color: #20c997;
    color: white;
    padding-bottom: 12px;
}

.card .card-body {
    padding: 8px 12px 0px 15px;
    margin-bottom: -40px;
}

.request-alert {
    border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;
    background-color: rgba(220, 53, 69, 0.72) !important;
    padding-bottom: 12px;
}

.word-space {

    margin-left: 4px;
}

.title {
    font-size: 9px;
    width: calc(100% - 115px);
    position: relative;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.number {
    width: 100px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.small-card {
    font-size: 12px;
}

.small-card .title {
    font-size: 5px;
    width: calc(103% - 94px);
    position: relative;
    display: inline-block;
    text-align: right;
}

.small-card .number {
    width: 80px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.selected {

    background-color: #51cbce;

}

.reset_single_filter{
    position: absolute;
    right: 23px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 17px;
    display: block;
    z-index: 100;
    color: #fff !important;
    transition: all 0.3s;
    line-height: 0px;
    cursor: pointer;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.reset_single_filter:hover, .reset_single_filter:focus, .reset_single_filter:active{
    transition: all 0.3s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    color: #000 !important;
}

.reset_all_filters {
    background-color: #ef8157;
    transition: all 0.3s;
}

.reset_all_filters:hover, .reset_all_filters:focus, .reset_all_filters:active{
    transition: all 0.3s;
    background-color: #eb6532 !important
}



.dropdown-toggle{
    white-space: nowrap;
    overflow: hidden;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    text-overflow: ellipsis;
}

.no_focus_outile {
    outline: none;
}

.cursor_pointer{
    cursor: pointer;
}

.small-card{
    margin-bottom: 30px;
}

.badge {
    padding: 14px 8px;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 12px;
    background-color: #51cbce;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-right: 5px;
    font-weight: 500;
}

.blue_header{
    background-color: #2980b9 !important;
}

.card{
    font-size: 16px;
}

.card-body > .row{
    margin-bottom: 5px;
}

.user_tags{
    background-color: #2980b9 !important;
    color: #ffffff !important;
}

.user_tags_small{
    background-color: #2980b9 !important;
    color: #ffffff !important;
    font-size: 10px !important;
    padding: 6px;
}

.tag {
    padding-top: 20px;

}

.blink {
    animation: blink-animation 2s infinite;
}
@keyframes blink-animation {
    0% {
        background-color: #FFFFFF;
    }
    25% {
        background-color: rgba(239, 129, 87, 0.6);
    }

    75% {
        background-color: #FFFFFF;
    }
}
