<div>
    <app-external-nav-bar [title]="sector"></app-external-nav-bar>

    <div class="main-content">

        <div *ngIf="requests && requests.DataForm" class="row">
            <div class="col-lg-12">
                <div class="row">
                    <ng-container *ngIf="requests.DataForm.Fields">
                        <div *ngFor="let filter of requests.DataForm.Fields | slice:1:100; let i=index"
                             class="col-lg-3 col-md-3 col-sm-3">
                            <div class="dropdown">
                                <button class="dropdown-toggle btn btn-default btn-round btn-block"
                                        [ngClass]="{'selected': filter.FiltroSelezionato}" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    <ng-container *ngIf="!filter.FiltroSelezionato"> {{filter.Title}}</ng-container>
                                    <ng-container *ngIf="filter.FiltroSelezionato"> {{filter.FiltroSelezionato}}
                                    </ng-container>

                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a *ngFor="let option of filter.Relations" (click)="sceltaFiltro(filter, option)"
                                       class="dropdown-item">{{option.Titolo}}</a>
                                </div>
                            </div>
                            <a (click)="rimuoviFiltro(filter)" class="reset_single_filter"
                               *ngIf="filter.FiltroSelezionato"> <i class="nc-icon nc-simple-remove"></i> </a>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="requests.DataForm.Actions">
                        <div  *ngFor="let action of requests.DataForm.Actions" class="col-lg-3 col-md-3 col-sm-3">
                            <button class="reset_all_filters btn btn-default btn-round btn-block" type="button"
                                    (click)="generateAction(action)">
                                {{action.Title}}
                            </button>

                        </div>
                    </ng-container>
                </div>

            </div>
        </div>

        <hr/>

        <ng-container *ngIf="requests && requests.CrudList.Rows.length > 0">
            <div class="row">
                <div *ngFor="let row of requests.CrudList.Rows | slice:0:3; let i=index"
                     class="col-lg-4 col-sm-6 mb-4 ">
                    <div class="card h-100 no_focus_outile cursor_pointer" [ngClass]="{'blink': row.Status.indexOf('UpdateByApplicant') != -1}" (click)='goToRequest(row.Id)' [routerLink]="['/external-dashboard/request', row.Id]">
                        <div class="card-header request-alert blue_header">

                            <div class="number">

                                <div class="numbers pull-left">{{row.Id}}</div>

                            </div>
                            <div class="title">
                                <div class="numbers pull-right stato"><span>{{row.Columns[1].Value}}</span>
                                </div>

                            </div>

                        </div>
                        <div class="card-body">
                            <ng-container *ngFor="let column of row.Columns">
                                <div *ngIf="column.Value != '' && column.Value != '0' && !column.FormField" class="row">
                                    <div class="col-md-3"><strong>{{column.Label}}: </strong></div>
                                    <div class="col-md-9"><span>{{column.Value}}</span></div>


                                </div>

                                <div *ngIf="column.Value != '' && column.Value != '0' && column.FormField && column.FormField.Relations && column.FormField.Relations.length > 0" class="row">
                                    <div class="col-md-12 tag"><strong></strong>
                                    </div>
                                    <div *ngIf="column.FormField && column.FormField.Relations && column.FormField.Relations.length > 0" class="col-md-12">
                                        <span  class="badge badge-secondary user_tags" *ngFor="let relation of column.FormField.Relations">{{relation.Titolo}}</span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="card-footer">
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="footer-title">
                                        <ng-container *ngFor="let column of row.Columns">
                                            <div>

                                                <span *ngIf="column.Label == 'Richiedente' && column.Value != ''"
                                                      class="word-space"> <i class="nc-icon nc-single-02"></i> {{column.Value}}</span>
                                                <span *ngIf="column.Label == 'Richiedente' && column.Value == ''"
                                                      class="word-space"> <i class="nc-icon nc-single-02"></i> Nessun richiedente</span>
                                            </div>

                                        </ng-container>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div *ngFor="let row of requests.CrudList.Rows | slice:3:10000; let i=index"
                     class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 small-card">
                    <div class="card h-100 no_focus_outile cursor_pointer"
                         [ngClass]="{'blink': row.Status.indexOf('UpdateByApplicant') != -1}"
                         [routerLink]="['/external-dashboard/request', row.Id]">
                        <div class="card-header">

                            <div class="number">

                                <div class="numbers pull-left"><strong>{{row.Id}}</strong></div>

                            </div>
                            <!--
                            <div class="title">

                                <div class="numbers pull-right stato">
                                    <span *ngIf="row.Columns[1].Value.length > 39">{{row.Columns[1].Value.substr(0,40).concat("...")}}</span>
                                    <span *ngIf="row.Columns[1].Value.length <= 39">{{row.Columns[1].Value}}</span>

                                </div>

                            </div>
                            -->

                        </div>
                        <div class="card-body">
                            <ng-container *ngFor="let column of row.Columns | slice:0:4; let i=index">
                                <div *ngIf="column.Value != '' && column.Value != '0'" class="row">
                                    <div class="col-md-3"><strong>{{column.Label}}: </strong></div>
                                    <div class="col-md-9"><span>{{column.Value}}</span></div>
                                </div>
                            </ng-container>
                            <ng-container *ngFor="let column of row.Columns; let i=index">
                                <div *ngIf="column.Value != '' && column.Value != '0' && column.Label =='Utenti'" class="row">
                                    <div *ngIf="column.FormField && column.FormField.Relations && column.FormField.Relations.length > 0" class="col-md-12">
                                        <span  class="badge badge-secondary user_tags_small" *ngFor="let relation of column.FormField.Relations">{{relation.Titolo}}</span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="card-footer">
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="footer-title">
                                        <ng-container *ngFor="let column of row.Columns">
                                            <div>

                                                <span *ngIf="column.Label == 'Richiedente' && column.Value != ''"
                                                      class="word-space"> <i class="nc-icon nc-single-02"></i> {{column.Value}}</span>
                                                <span *ngIf="column.Label == 'Richiedente' && column.Value == ''"
                                                      class="word-space"> <i class="nc-icon nc-single-02"></i> Nessun richiedente</span>
                                            </div>

                                        </ng-container>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </ng-container>
    </div>


</div>
<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-clip-rotate">
</ngx-spinner>
