.section-image:after {

    background-color: rgb(235, 235, 235);
}

a {
    color: black !important;
}

a:hover {
    color: #002d9a;
    text-decoration: none;
}

.register-page .navbar .navbar-collapse .nav-item .nav-link, .login-page .navbar .navbar-collapse .nav-item .nav-link, .lock-page .navbar .navbar-collapse .nav-item .nav-link {
    text-transform: capitalize;
    color: #000000 !important;
}

.img-center {margin:0 auto;}
.logo-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

}

footer {
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
}

.btn-success {
    color: #FFFFFF !important;
}