<div class="container logo-container">
    <div class="row">
        <div class="col-sm text-center">
            <img src="/assets/img/logo.jpg">
        </div>
    </div>
</div>

<div class="wrapper wrapper-full-page ">
    <div class="full-page section-image" filter-color="white" data-image="/src/">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">


                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <form class="form" method="" action="">
                        <div class="card card-login">
                            <div class="card-header ">
                                <div class="card-header ">
                                    <h3 class="header text-center">{{projectName}}</h3>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-single-02"></i>
                    </span>
                                    </div>
                                    <input [(ngModel)]="username" name="username" type="text" class="form-control"
                                           placeholder="Email" (focus)="focus=true" (blur)="focus=false">
                                </div>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-key-25"></i>
                    </span>
                                    </div>
                                    <input [(ngModel)]="password" name="password" type="password" placeholder="Password"
                                           class="form-control" (focus)="focus1=true" (blur)="focus1=false" (keydown)="keyDownFunction($event)">
                                </div>
                            </div>
                            <div *ngIf="alert" class="card-body">
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <span>Nome utente o password non corretti </span>
                                </div>
                            </div>

                            <div class="card-footer ">
                                <a (click)="login()" class="btn  btn-success btn-round btn-block mb-3">Login</a>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <footer class="footer footer-black  footer-white ">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                </nav>
                <div class="credits ml-auto">
            <span class="copyright">
              &copy; {{test | date: 'yyyy'}} <a href="https://www.becomitalia.com">Becom Italia</a>
            </span>
                </div>
            </div>
        </div>
    </footer>
</div>