.navbar.navbar-absolute {
    position: relative;
    width: 100%;
    padding-top: 10px;
    z-index: 1029;
}

.section-image:after {

    background-color: rgb(235, 235, 235);
}

a {
    color: black !important;
}

a:hover {
    color: #002d9a;
    text-decoration: none;
}

.register-page .navbar .navbar-collapse .nav-item .nav-link, .login-page .navbar .navbar-collapse .nav-item .nav-link, .lock-page .navbar .navbar-collapse .nav-item .nav-link {
    text-transform: capitalize;
    color: #000000 !important;
}

.img-center {margin:0 auto;}
.logo-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

}

.fullsize {

    width: 100%;
}

.date-format {


}

.header{
    position: relative;
    display: block;
}

.header .title{
    display: inline-block;
}

.header .title button{
    margin-right: 10px;
    height: 30px !important;
    width: 30px !important;
    min-width: auto;
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
}

.header .title i{
    font-size: 12px;
}

.header .title a{
    font-size: 16px;
}

.header .logo{
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    top: 50%;
    max-height: 42px;
}
.header .date{
    display: inline-block;
    float: right;
}

.header .date span{
    font-size: 12px;
    margin-top: 7px;
    margin-right: 0;
}

.header .data a{
    margin-right: 0;
}

@media screen and (max-width: 991px){
  .navbar {
      padding: 10px 15px;
  }
}

@media screen and (max-width: 767px){
    .header .date{
        display: none;
    }

    .header .logo{
        display: none;
    }
}

.user_options{
    display: inline-block;
}

.user_options_mobile{
    display: none;
    margin-left: -15px;
}

@media screen and (max-width: 767px){
    .user_options_mobile{
        display: block;
    }

    .user_options_mobile i{
        margin-right: 5px;
    }
}