<nav #navbar class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent header container-fluid">
    <div class="title">
        <button (click)="refresh()" class="btn btn-grey btn-round btn-icon"><i class="nc-icon nc-refresh-69"></i>
        </button>
        <a class="navbar-brand"> <strong>Dashboard {{title}}</strong></a>

        <div class="nav-item  dropdown user_options user_options_mobile"><a aria-expanded="false" aria-haspopup="true"
                                                        class="nav-link dropdown-toggle" data-toggle="dropdown" href="pablo"
                                                        id="navbarDropdownMenuLink"><i class="nc-icon nc-single-02"></i>
            <p><span class="d-lg-none d-md-block"> Opzioni</span></p></a>
            <div (click)="logout()" aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right"><a
                    class="dropdown-item">Logout</a></div>
        </div>
    </div>
    <a href="/external-dashboard/settore"><img src="/assets/img/logo.jpg" class="logo"></a>
    <div class="date">
        <span class="navbar-brand date-format">{{currentDate}}</span>
        <div class="nav-item  dropdown user_options"><a aria-expanded="false" aria-haspopup="true"
                                                    class="nav-link dropdown-toggle" data-toggle="dropdown" href="pablo"
                                                    id="navbarDropdownMenuLink"><i class="nc-icon nc-single-02"></i>
            <p><span class="d-lg-none d-md-block">Logout</span></p></a>
            <div (click)="logout()" aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right"><a
                    class="dropdown-item">Logout</a></div>
        </div>
    </div>

</nav>

